.articlesContainer {
  background-color: #cfcfcf;
  column-gap: 25px;
  padding: 20px;
  margin-top: 20px;
  width: 70%;
}

@media (min-width: 1701px) {
  .articlesContainer {
    columns: 4;
    width: 70%;
  }
}

@media (min-width: 1301px) and (max-width: 1700px) {
  .articlesContainer {
    columns: 3;
    width: 70%;
  }
}

@media (min-width: 1001px) and (max-width: 1300px) {
  .articlesContainer {
    columns: 3;
    width: 80%;
  }
}

@media (min-width: 651px) and (max-width: 1000px) {
  .articlesContainer {
    columns: 2;
    width: 90%;
  }
}

@media (min-width: 451px) and (max-width: 650px) {
  .articlesContainer {
    columns: 1;
    width: 65%;
  }
}

@media (max-width: 450px) {
  .articlesContainer {
    columns: 1;
    width: 90%;
  }
}
