.container {
  width: 100%;
  height: 40px;
  background-color: #333333;
  white-space: nowrap;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.name {
  color: #ff7030;
}

.container:hover {
  background-color: #ff7030;
  .name {
    color: #333333;
  }
}
